<ul
  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <!-- Sidebar - Brand -->
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    [routerLink]="['/']"
  >
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fa-solid fa-cat"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Homeworks app</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" [routerLink]="['/']">
      <i class="fa-solid fa-bars-progress"></i>
      <span>Homeworks</span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">Tasks</div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      [routerLink]="['/']"
      data-toggle="collapse"
      data-target="#collapseTwo"
      aria-expanded="true"
      aria-controls="collapseTwo"
    >
      <i class="fa-solid fa-list-check"></i>
      <span>See Task</span>
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      [routerLink]="['./subject']"
      data-toggle="collapse"
      data-target="#collapseTwo"
      aria-expanded="true"
      aria-controls="collapseTwo"
    >
      <i class="fa-solid fa-book"></i>
      <span>See Subjects</span>
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      [routerLink]="['./task/addtask']"
      data-toggle="collapse"
      data-target="#collapseTwo"
      aria-expanded="true"
      aria-controls="collapseTwo"
    >
      <i class="fa-solid fa-plus"></i>
      <span>Add Task</span>
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      [routerLink]="['./subject/addsubject']"
      data-toggle="collapse"
      data-target="#collapseTwo"
      aria-expanded="true"
      aria-controls="collapseTwo"
    >
      <i class="fa-solid fa-plus"></i>
      <span>Add Subjects</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">Profile</div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      [routerLink]="['./profile']"
      data-toggle="collapse"
      data-target="#collapsePages"
      aria-expanded="true"
      aria-controls="collapsePages"
    >
      <i class="fa-solid fa-user"></i>
      <span>See profile</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle" (click)="onToggleSidebar()"></button>
  </div>
</ul>
